html,
body {
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
}

nav {
  background-color: #f53e28;
  padding-left: 3%;
  padding-right: 3%;
  /* padding-bottom: 5px;
    padding-top: 5px; */
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  z-index: 9999;
  top: 0;
  position: fixed;
  width: 100%;
  box-shadow: 0 2px 7.5px 0 rgba(51, 51, 51, 0.4);
}
nav ul {
  list-style: none;
  display: flex;
  padding: 0px;
}
nav li a {
  color: white;
  text-decoration: none;
}
body {
  background-color: white;
  font-family: sans-serif;
}
input {
  border: none;
  outline: none;
}
.logo-poketmon {
  height: 35px;
  max-width: 100%;
  min-width: 80%;
}

.social-icons {
  display: inline-flex;
  padding-right: 2%;
  justify-content: right;
  align-content: flex-end;
}

.contact a {
  display: inline;
  margin-right: 1.5rem;
  cursor: pointer;
  color: #fff;
  background: linear-gradient(to bottom, #fff 0%, #fff 100%);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 4px 4px;
  color: #000;

  transition: background-size 0.2s;
}

.contact a:link {
  text-decoration: none;
  color: #fff;
}

.contact a:visited {
  color: #fff;
}

.contact a:hover {
  background-size: 4px 50px;
  color: #f53e28;
}
.headerInfo {
  background: url(../src/img/background_pokemon.svg);
  background-size: cover !important;
  -webkit-background-size: cover !important;
  height: 480px;
  font-size: 18px;
  padding-top: 80px;
  padding-bottom: 10px;
  padding-left: 3%;
  padding-right: 3%;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.home {
  color: #333333;
  padding-top: 6%;
  padding-bottom: 4%;
  padding-left: 3%;
  padding-right: 3%;
  height: auto;
  display: inline-block;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 300px;
}
.titleOptionHome {
  font-size: 40px;
  color: #16355c;
  max-width: 600px;
}
.InfoHome {
  font-size: 25px;
  color: #16355c;
}
.textOptionHome {
  font-size: 16px;
  color: #333333;
}
.contOptionPoketLeft {
  padding-top: 15px;
  padding-bottom: 15px;
  width: 40%;
  float: left;
  /* display: flex; */
  flex-wrap: wrap;
  text-align: left;
  padding-right: 3%;
  padding-left: 3%;
  justify-content: center;
}
.optionPoketLeft {
  padding-top: 10px;
  /* display: flex; */
  flex-wrap: wrap;
  text-align: left;
  padding-left: 30px;
  /* padding-right: 30px;*/
}
.PokeTdex {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 70%;
  width: 100%;
  margin-right: 200px;
  padding-right: 40px;
}
#btnPokedex {
  font-family: sans-serif;
  font-size: 25px;
  color: white;
  /* border: 2px solid #333333; */
  width: 100%;
  flex-basis: 100%;
  padding: 7px;
  cursor: pointer;
  background-color: #0070b6;
  margin-bottom: 10px;
  border-radius: 20px;
  outline: none;
  transition: 0.3s;
  border: none;
}
#btnPokedex:hover {
  /* background-color: #dcdcdc;
  color: #333333; */
  box-shadow: 0 4px 7.5px 0 rgba(51, 51, 51, 0.4);
}

.contOptionPoketRight {
  padding-top: 15px;
  padding-bottom: 15px;
  width: 40%;
  float: right;
  /* display: flex; */
  flex-wrap: wrap;
  text-align: left;
  padding-right: 3%;
  padding-left: 3%;
  justify-content: center;
}
.optionPoketRight {
  padding-top: 10px;
  /* padding-left: 30px; */
  /* display: flex; */
  flex-wrap: wrap;
  /* justify-content: flex-start; */
  text-align: left;
}
.poketGo {
  padding-top: 100px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  height: 600px;
  min-width: 100%;
}
.titleOptionGo {
  font-size: 60px;
  color: #333333;
}
.infoPokeGo {
  font-size: 30px;
  color: #333333;
}

.headerPokeGo {
  background: #c5daea;
  padding-top: 12%;
  padding-bottom: 7%;
  padding-right: 5%;
  padding-left: 5%;
  align-items: center;
}
.poketGoInfos {
  margin: 0 auto;
  padding-top: 7%;
  color: #333333;
  padding-right: 3%;
  padding-left: 3%;
  padding-bottom: 5%;
  font-family: sans-serif;
}

.poketGoInfos h2 {
  background-color: #c5daea;
  color: #16355c;
  font-size: 18px;
  padding: 2%;
  border-radius: 20px;
}

.poketGoInfos img {
  width: 100%;
  min-width: 60%;
}

.video {
  width: 100%;
  height: 100%;
  /* position: absolute!important; */
}
a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}
.buttonBack {
  background: transparent;
  color: #333333;
  cursor: pointer;
  border: none;
  outline: none;
  width: 70px;
  float: right;
}
#btnPoketGo {
  font-family: sans-serif;
  font-size: 25px;
  color: #333333;
  border: 2px solid #333333;
  width: 100%;
  padding: 5px;
  cursor: pointer;
  background-color: white;
  margin-bottom: 10px;
  border-radius: 20px;
  outline: none;
  flex-basis: 100%;
  transition: 0.3s;
}
#btnPoketGo:hover {
  background-color: #dcdcdc;
  color: #333333;
}
.filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 2%;
  margin-right: 2%;
}
.headerFilter {
  background: rgb(176, 208, 233);
  padding-top: 2%;
  padding-bottom: 2%;
  /* padding-right: 3%; */
  /* padding-left: 3%; */
  align-items: center;
  z-index: 9999;
  width: 100%;
  /* margin-top: 5%; */
  margin: 0 auto;
  position: fixed;
  justify-content: space-between;
  box-shadow: 0 2px 7.5px 0 rgba(51, 51, 51, 0.7);
}
.iconeFiltro {
  display: flex;
  flex-wrap: wrap;
  width: 10%;
}
.search-box {
  background-color: white;
  border-radius: 30px;
  border: 2px solid #333333;
  font-size: 14px;
  /* font-family: "Fira Sans", sans-serif; */
  text-align: center;
  justify-content: right;
  outline: none;
  padding: 7px;
  justify-content: center;
  margin: 0 auto;
  width: 320px;
  margin: 2%;
}

.search-box select {
  margin: 2%;
  flex-basis: 100%;
  margin-left: 3%;
}
.pokeStats {
  font-family: sans-serif;
  font-size: 25px;
  color: #333333;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 100px;
  padding-right: 100px;
}

/* .card {
  color: #333333;
  width: 260px;
  height: 300px;
  margin: 20px;
  text-align: center;
  background-color: #fff;
  background-color: rgb(223, 222, 222);
  border-radius: 10px;
  transition: 0.3s;
  box-shadow: 0 2px 7.5px 0 rgba(51, 51, 51, 0.4);
} */

/* .card:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
} */
.card img {
  width: 100%;
  align-self: center;
}
/* .card-body {
  width: 210px;
  height: 130px;
  padding: 0px;
} */
/* .card-text {
  text-align: center;
} */

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 200px;
  height: 200px;
  border: 2px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-image: linear-gradient(to top, #cfd9df 0%, #c5daea 100%);
  color: #16355c;
}

/* Style the back side */
.flip-card-back {
  background-color: #0070b6;
  color: white;
  transform: rotateY(180deg);
}

.row {
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
footer {
  display: flex;
  flex-wrap: wrap;
  padding-left: 3%;
  padding-right: 3%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  font-size: 11px;
  height: 100px;
  background: #333333;
  color: #fff;
  width: 100%;
  box-sizing: border-box;
}

footer img {
  margin: 0.5rem;
}
